PORT=3001
JWT_SECRET=votre_cle_secrete_tres_longue
TWILIO_ACCOUNT_SID=votre_account_sid_twilio
TWILIO_AUTH_TOKEN=votre_auth_token_twilio
TWILIO_PHONE_NUMBER=votre_numero_twilio
ORANGE_CLIENT_ID=votre_client_id_orange
ORANGE_CLIENT_SECRET=votre_client_secret_orange
ORANGE_SENDER_ADDRESS=+22376000000
ORANGE_SENDER_NAME=Montexto
PUBLIC_BASE_URL=https://votre-domaine-public.com
SMTP_HOST=smtp.votredomaine.com
SMTP_PORT=587
SMTP_USER=contact@votredomaine.com
SMTP_PASS=votre_mot_de_passe_smtp
SMTP_FROM=Montexto <contact@votredomaine.com>
